extends ./layout/index
block contenido
    section.juegoInd
        .container.juegoInd
            .row.g-4
                .col-md-12
                    h1.text-center.mb-6=resultado.titulo
            .row.g-4
                .col-md-6
                    p · #{resultado.descripcion}
                    p · Valoración media de los usuarios: #{media}

                .col-md-6
                    img(src=`/img/${resultado.imagen}` alt=resultado.titulo)
            .row.g-4
                .col-md-12
                    li Plataformas disponible:
                        |  #{resultado.consola}
                    li Tipo:
                        |  #{resultado.tipo_juego}
                    li Precio:
                        if resultado.precio === 'Free'
                            |  Free
                        else
                            |  #{resultado.precio}€

            // --- VALORACIONES ---
            .row.mt-5.valoraciones
                .col-md-12
                    h2 Valoraciones de usuarios

                    if valoraciones.length
                        .row
                            each val in valoraciones
                                .col-md-4
                                    .valoracion.mb-4.p-3.cajaValoracion
                                        p= val.nombre_usuario + " (" + val.correo + ")"
                                        p Calificación: #{val.calificacion} / 5
                                        p Comentario: #{val.comentario.substring(0, 70)}
                    else
                        p Todavia no hay valoraciones.


            .row.mt-4
                .col-md-6.text-center
                    a.btn.btn-secondary(href="/juegos") ← Volver a la lista
                .col-md-6.text-center
                    a.btn.btn-secondary(href="/valoracion/" + resultado.slug) · Haz tu valoración del juego aquí

